
<h1>Edit Membership </h1>

<div id="center" class="players">

<% if is_super_admin %>
<%= render 'form' %>

<% else %>

<p id="center" class="warning">Log in as super admin to edit the membership type</p>

<% end %>
</div>

