<h1>Membership Types</h1>
<!-- <div id="center" class="players"> -->
<table class="booking">
  <% @types.each do |type| %>
    <tr>
      <td class="first wide"><%= link_to type.membership_type.humanize.titleize, membership_type_path(type.id) %></td><td class="cost"><%= number_to_currency(type.court_cost, :unit => "£") %>
    </tr>
  <% end %>
</table>
<!-- </div> -->