<h1>Enter a new Membership</h1>

<div id="center">
    
<% if is_super_admin %>
<%= render 'form' %>

<% else %>

<p id="center" class="warning">Log in as super admin to create new membership types</p>

<% end %>

<%= link_to 'Back to Memberships', membership_types_path %>
</div>
