<h1>TimeSlots Listing</h1>
 
<table>
  <tr>
  <th>TimeSlots </th>
  </tr>
  <% @timeSlots.each do |timeSlot| %>
    <tr>
		<td><%= timeSlot.time.strftime("%l:%M%P") %></td>
    </tr>
  <% end %>
</table>
