<h1>Players Listing</h1>
 
<p><%= link_to 'New Player', new_player_path %></p>

<table>
  <tr>
  <th>Membership Number</th>
    <th>Player</th>
    <th>Tel</th>
  </tr>
  <% @players.each do |player| %>
    <tr>
		<td class="first"><%= player.membership_number %></td>
		<td><%= link_to (player.first_name + ' ' + player.last_name), player_path(player.id) %></td>
		<td><%= player.tel %></td>
    </tr>
  <% end %>
</table>

