// Place all the styles related to the bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.booking {
	border-collapse:collapse;
	margin: 0 auto;
	z-index: 20;
}

table.booking, th.booking, td.booking {
	//background-color: #0A4B81;
	margin-top: 35px;
	border-left:solid 4px #0A4B81;
}

th.booking{
	font-size: 25px;
	background-color: #0A4B81;
}
 
td.booking, td.player {
	padding-top: 0px;
	padding-bottom: 0px;
	text-align:center;
	vertical-align:middle;
/*	border-width: 0px 1px 1px 1px;*/
	line-height: 13px;
	width:198px;
	background-color: #F2F6F9;
	border-bottom: #F2F6F9;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}

td.first {
	padding: 6px 0px;
	font-size: 20px;
	font-weight: bold;
	border-width: 3px 3px 1px 3px;
	width:110px;
}

td.nobookings{
	color: gold;
	background-color: #0A4B81;
	border-color: #0A4B81;
}
tr.first {
	height: 30px;
}

div.first{
	position:fixed;
	left:0;
	right:0;
	margin-top: -6px
}

tr {
	height: 40px;
}

#select_date, #select_admin_date{
	visibility: hidden;
	position: absolute;
	margin-left: 40%;
	margin-top: 356px;
	z-index:10;
}

.ui-widget-header{
	border: none !important;
	background: none !important;
}

.ui-widget-content, .ui-datepicker-title, .ui-datepicker th, .ui-state-default{
	color: #0A4B81 !important;
	font-family: 'Lato', sans-serif;
}
.date{
	text-align: center;
	font-size: 40px;	
	//position: fixed;
	left: 0;
	right: 0;
	//bottom:10px;
	margin-top: 5px;
	margin-bottom: 10px;
	z-index:-2;
}

.date a.day{
	color:azure;
}
.date a.last_day{
	color: gold;
	font-size: 30px;
	padding-left: 5px;
	padding-bottom: 5px;
}

.date a.today{
	font-size: 30px;
}

a#change_day_left, a#change_day_right
{
	visibility: hidden;
	position: absolute;
}

@media (min-width:1165px)
{
	a#change_day_left
	{
		visibility: visible;
		top: 300px;
		left: 2%;
		font-size: 100px;
	}

	a#change_day_right
	{
		visibility: visible;
		top: 300px;
		right: 2%;
		font-size: 100px ;
	}
}

.links {
	//position: fixed;
	margin-top: 18px;
	z-index: -1;
}
.links a{
	margin: 0px 10px;
	margin-top: 20px;
	font-size: 20px;
}

.links a.last_day{
	color: gold;
}

.booking_link{
	 color: #285784;
}
.book, .login_to_book, .booked, .cancelled{
	margin-right:28px;
	font-size:16px;
	float:right;
	width:118px;
}
.book, .login_to_book {
	 line-height:20px;
	 text-decoration: none;
	 background: #DAE6F1;
	 z-index:1;
	 position:relative;
	 height: 38px;
}

.login_to_book{
	color: darkgrey;
	background: none;
}

.booked, .cancelled{
	z-index: 3;
	line-height: 20px;
	background: #AAC9E4;
}

.booked a{
	color: #285784;
 	display:block;
 	overflow: hidden;
 	text-overflow: ellipsis;
}

.cancelled a{
	color: #8895b3;
}
.paid {
	z-index: 4;
	position: absolute;
	margin-top: 9px;
	margin-left: 171px;
}

.paid a{
	background-color: #0A4B81;
	font-size:11px;
	padding: 7px 3px;
	border-radius: 20px;
}

a.has_paid{
	background-color: green;
	color: lightgreen;
	padding: 7px 2px;
}

a.to_pay_couple, a.to_pay_full, a.to_pay_life, a.to_pay_country, a.to_pay_trial{

	background-color: #0A4B81;
}

a.to_pay_junior, a.to_pay_student, a.to_pay_restricted, a.to_pay_team{
	background-color: firebrick;
	color: lightpink;
}

a.to_pay_guest{
	background-color: olive;
	color: wheat;
}
.time, .noTime, .noTimeOrBooking, .peakTime{
	padding-top: 13px;
	padding-left: 0px;
	padding-bottom: 13px;
	padding-right: 1px;
	width:53px;
	position:absolute;
	z-index:2;
	font-size: 20px;
	//font-weight: 200;
	//width: 90px;
	float: left;
	color: #426B8C;
	background-color: #F2F6F9;
	letter-spacing: -3px;
}

.noTime{
	color: #426B8C;
}

.noTimeOrBooking{
	color: #426B8C;
	margin-top: -19px;
}

.peakTime {
	background-color: #426B8C;
	color: #F2F6F9;
}
h3.back, h3.back a{
	margin-top: 50px;
	font-size: 20px;
	text-align: center;
	color: gold;
}
button.clear{
	margin-left: 10px;
	margin-top: 5px;
	position:absolute;
	background:gold;
	color: black;
	font-weight: bold;
	font-size: 14px;
	border: none;
	font-family: 'latolight', sans-serif;
	height: 20px;
}