
.leagueTable{
	background-color: #0A4B81;
	margin: 15px auto 10px auto;
}

.leagueTitle {
	margin-top: 40px;
	margin-bottom: -20px;
}

a.leagueTitle {
	font-size: 30px;
	text-decoration: underline;
}
h1.league {
	position: relative;
}

ul.leagueList
{
	margin: 0px 0px 0px 0px;
	padding: 7px 0px 0px 0px;
	text-align: center;
    list-style-type: none;
	display: inline;
}

li.leagueList
{  
	display: inline;
	padding: 0px 20px 0px 0px;
}

li.leagueList a {
	text-decoration: underline;
}
a.anchor {
    display: block;
    position: relative;
    top: -40px;
    visibility: hidden;
}

td.league {
	padding-top: 0px;
	padding-bottom: 0px;
	text-align:center;
	vertical-align:middle;
	line-height: 13px;
	min-width:50px;
	background-color: #F2F6F9;
	border-bottom: #F2F6F9;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}

td.nonLeague {
	padding-top: 0px;
	padding-bottom: 0px;
	text-align:center;
	vertical-align:middle;
	line-height: 13px;
	min-width:50px;
	color: Azure;
}

td.contact {
/*	color: LightSteelBlue;*/
	color: Azure;
	font-weight: normal;
	font-size: 14px;
	width:100px;
/*	border-left:#F2F6F9;
	border-left-style: solid;
	border-left-width: 2px;
	padding-left: 15px;*/
}

table tr td:empty {
    width: 20px;
}

.league_help {
	font-weight: normal;
	font-size: 15px;
	font-style: italic;
	padding-top: 10px;
}

form.fixture {
	margin-top: 5px;
}

form.fixture input[type="number"] {
	width: 60px;
	height: 55px;
	text-align: center;
	line-height: 55px;
	font-size: 40px;
	font-weight: bold;
	margin-right: 30px;
	margin-left: 30px;
/*	background-color: white;*/
	background: transparent;
	color: white;
	border: solid;
	border-color: gold;
	
}
