/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 
 h1, h2{
text-align: center;
margin-bottom: 5px;
margin-top: 25px;
position: fixed;
left: 0;
right: 0;
top: 0;
z-index: -2;
}

a {
 text-decoration: none;
 color: LightSlateGrey ;
}

body {
color: Azure;
font-family:arial;
background-color: #27444F;
margin: 0px;
}

#clearfix {
	clear: both;
}

ul
{
	margin: 7px 0px 0px 0px;
	padding: 0;
	text-align: center;
    list-style-type: none;
    position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: -2;
}

ul li { display: inline; }

#user_nav{
	text-align: right;
	top: 4px;
	right: 4px;
	float: right;
	position: fixed;
	z-index: -2;
}

form
{
	text-align: center;
}