// Place all the styles related to the bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
	border-collapse:collapse;
	width: 100%;
}

table, th, td {
	background-color: #2b748f;
	border: 3px solid #95bac7;
	margin-top: 10px;
}
 
td {
	padding-top: 15px;
	padding-bottom: 0px;
	text-align:center;
	vertical-align:middle;
	border-width: 0px 1px 1px 1px;
	line-height: 13px;
}

td.first {
	padding: 6px 0px;
	font-size: 20px;
	font-weight: bold;
	border-width: 3px 3px 1px 3px;
	width:110px;
}

tr.first {
	height: 20px;
}
tr {
	height: 65px;
}

.date{
	text-align: center;
	font-size: 20px;	
	margin-bottom: 0px;
	margin-top: -22px;
}

.links a{
	margin: 0px 10px;
	font-size: 20px;
}

.book, .login_to_book {
 color: green;
 font-weight: bold;
 font-size: 11px;
 text-decoration: none;
 background: lightgreen;
 //padding: 5px 5px;
 z-index:1;
 position:relative;
}

.login_to_book{
color: darkgrey;
background: none;
}

.booked {
	z-index: 3;
	margin-top: -5px;
}

.booked a{
	color: #D5E3E9;
	font-size: 13px;
}
.paid {
z-index: 4;
position: absolute;
margin-top: -60px;

}

.paid a{
	color: lightgreen;
	font-size:12px;
}

.time, .noTime{
padding: 0px;
position:relative;
z-index:2;
font-size: 18px;
}

.time{
margin-top: 6px;
}

.noTime{
margin-top: -42px;
color: #1E5164;
}