// Place all the styles related to the bookings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table {
	border-collapse:collapse;
	margin: 0 auto;
	z-index: 20;
}

table, th, td {
	background-color: #2b748f;
	border: 3px solid #95bac7;
	margin-top: 90px;
}
 
td {
	padding-top: 0px;
	padding-bottom: 0px;
	text-align:center;
	vertical-align:middle;
	border-width: 0px 1px 1px 1px;
	line-height: 13px;
}

td.first {
	padding: 6px 0px;
	font-size: 20px;
	font-weight: bold;
	border-width: 3px 3px 1px 3px;
	width:110px;
}

tr.first {
	height: 30px;
}

div.first{
	position:fixed;
	left:0;
	right:0;
	margin-top: -6px
}
tr {
	height: 80px;
}

.date{
	text-align: center;
	font-size: 20px;	
	position: fixed;
	left: 0;
	right: 0;
	top:60px;
	z-index:-2;
}

.links {
	position: fixed;
	top: 60px;
	z-index: -1;
}
.links a{
	margin: 0px 10px;
	margin-top: 20px;
	font-size: 20px;
}

.book, .login_to_book {
	 color: green;
	 font-weight: bold;
	 font-size: 16px;
	 line-height:18px;
	 text-decoration: none;
	 background: lightgreen;
	 z-index:1;
	 position:relative;
}

.login_to_book{
	color: darkgrey;
	background: none;
}

.booked {
	z-index: 3;
	margin-top: 5px;
	margin-bottom: -55px;
	line-height: 15px;
	font-size: 18px;
}

.booked a{
	color: #D5E3E9;	
}
.paid {
	z-index: 4;
	position: absolute;
	margin-top: -20px;
}

.paid a{
	color: lightgreen;
	font-size:12px;
}

a.to_pay{
	color: Gold ;
	font-size:12px;
}

.time, .noTime, .noTimeOrBooking{
	padding: 0px;
	position:relative;
	z-index:2;
	font-size: 32px;
	width: 90px;
}


.time{
	margin-top: 20px;
	margin-bottom: 6px;
}

.noTime{
	margin-top: -42px;
	color: #1A4656;
}

.noTimeOrBooking{
	margin-top: -16px;
	color: #1A4656;
	font-size: 18px;
}